a:link {text-decoration:none;}
a:visited {text-decoration:none;}
html, body {
  height:100%;
  margin:0;
  padding:0;
  font-size:12px;
  color:#444;
  background-image:linear-gradient(to right bottom, #fff 0%, #ddd 100%);

}
header {
  margin:2px;
  padding:2px;
  background-color: #aff;
  color:#ffa;
  position:relative;
  z-index:1;
  border-radius:2px;
  box-shadow:2px 2px 2px #888888;;
  background-image:linear-gradient(to right bottom, #fff 0%, #aaa 100%);
}
#nav ul li {
	display:inline;
	margin-left:30px;	
	color:#f23;
	font-size:1.2em;
	font-weight:bold;
  	background-image:linear-gradient(to right bottom, #fff 0%, #ffc 100%);
	}
.content {
  margin:20px 20px 20px 20px;
  background:#bbc;
  background-image:linear-gradient(to right bottom, #555 0%, #666 100%);
  width:auto;
  position:relative;
  overflow:auto;
  border-radius:2px;
  box-shadow:2px 2px 2px #888888;;
}
.acquisto {	
  margin:5px 5px 5px 5px;
  background:#776;
  border-radius:2px;
  box-shadow:2px 2px 2px #888888;;
  background-image:linear-gradient(to right bottom, #555 0%, #666 100%);
  }
.asc {	
  margin:5px 5px 5px 5px;
  background:#998;
  border-radius:2px;
  box-shadow:2px 2px 2px #888888;;
  background-image:linear-gradient(to right bottom, #585 0%, #6a6 100%);
  }

#report{
  margin-top: 20px;
  background: #eee;
  background-image:linear-gradient(to right bottom, #555 0%, #666 100%);

  }
 footer {
  margin:2px;
  height: auto;
  background-color: #aaf;
  color:#ffa;
  padding-left:50px;
  font-size:1em;
   z-index:1;
   background-color:#faf;
  border-radius:2px;
  box-shadow:2px 2px 2px #888888;;
  background-image:linear-gradient(to right bottom, #aaa 0%, #666 100%);
}
.CSSTableGenerator {
margin:0px;padding:0px;
border-radius:2px;
  box-shadow:2px 2px 2px #888888;
}
td {
	vertical-align:bottom
	 }

.CSSTableGenerator tr:hover td{
background-color:#aad4dd;
}
.CSSTableGenerator td{
vertical-align:top;
font-weight:normal;
background-color:#aad4ff;
border-radius:2px;
  }
.CSSTableGenerator th{
vertical-align:top;
background-color:#aad4aa;
font-weight:normal;
border-radius:2px;
}

.GT {
margin:0px;padding:0px;
border-radius:2px;
}
.GT td{
vertical-align:top;
font-weight:normal;
border-radius:2px;
  }
.GT th{
vertical-align:top;
font-weight:normal;
border-radius:2px;
}

input.text 
{
    color: #455;
    background-color: #eff;
    height:1em;
}


select {
	margin:2px;
	margin-left:50px;
	height:1.6em;
	color:#444;
	}
	
input.selezioni 
{
    color: #abb;
    background-color: #abb;
    width : 2em;
    height:1em
}
input.selezioni:hover  
{
    width : 2em;
    color: #cdd;
    background-color: #cdd;
    height:1em

}

input:hover
{
    color: #444;
    background-color: #dee;
}

input
{
    color: #444;
    background-color: #cdd;
}


input
{

    height: 1.6em;
    width : auto%;
    font-weight: none;
    border:1px solid #999;
    border-radius:2px;
    box-shadow:1px 1px 2px;
}


.magazzino {
	background-color:#aad4dd;
  box-shadow:2px 2px 2px #888888;
	}
#ricarica {
	background-color:#fda;
  box-shadow:2px 2px 2px #888888;
	}
.utente {
	background-color:#adf;
  box-shadow:2px 2px 2px #888888;
	}
.transaction {
	background-color:#f77;
  box-shadow:2px 2px 2px #888888;
	}
td.transaction {
	padding:2px;
	padding-left:2px;
	}
.cassa {
	background-color:#ccd;
	font-weight:bold;
	font-size:1.1em;
  	box-shadow:2px 2px 2px #888888;
	height:10%;
  	background-image:linear-gradient(to right bottom, #ddf 0%, #fff 100%);
	}
.info {
	background-color:#ccd;
	font-weight:bold;
	font-size:1.3em;
  box-shadow:2px 2px 2px #888888;
	}

#acquistoselezionato { 
	width :  100%;
	padding:2px;
	font-weight:bold;
	border-radius:2px;
	font-size:1.5em;
	}
	

#moltiplicatore input{
	background-color:#ad9;
	}

.header {
	padding:1px;
	background-color:#ccc;
	box-shadow:2px 2px 2px #888888;
	border-width:3px;
	border-color:white;
	border-style:outset;
	border-radius:2px;
	}
.headerR {
	padding:1px;
	background-color:#ffb;
	box-shadow:2px 2px 2px #888888;
	border-width:3px;
	border-color:white;
	border-style:inset;
	border-radius:2px;
	}
.header a{
	text-align:right;
	}
#error { 
	padding:20px;
	margin:2px;
	background-color:#faa;
	font-weight:bold;
	border-radius:2px;
	box-shadow:2px 2px 2px #888888;

	font-size:2em;
	}
#fallimento {
	background-color:#faa;
	}
#chiusura {
	background-color:#afa;
	}
.molt {
	background-color:#faa;
	}
.articoli {
	background-color:#aad;
	font-weight:bold;
	font-size:1.1em;
  box-shadow:2px 2px 2px #888888;
	height:10%;
	}
.movearticoli {
	background-color:#77d;
	font-weight:bold;
	font-size:1.1em;
  box-shadow:2px 2px 2px #888888;
	height:10%;
	}
#articoli {	
	background-color:#7b7;
	}
#prezzi {	
	background-color:#b77;
	}
.merce{
    text-align:left;
    }
