a:link {text-decoration:none;}
a:visited {text-decoration:none;}
html, body {
  height:100%;
  margin:0;
  padding:0;
  font-size:14px;
  color:#666;
}
header {
  margin:5px;
  padding:5px;
  height: 5em;
  background-color: #aaf;
  color:#ffa;
  position:relative;
  z-index:1;
  border-radius:4px;
}
#nav {
  background : #aaf;
  }
#nav ul li {
	display:inline;
	margin-left:30px;	
	font-size:1.5em;
	font-weight:bold;
	}
.content {
  margin:20px 20px 20px 20px;
  background:white;
  width:auto;
  position:relative;
  overflow:auto;
}
#report{
  margin-top: 20px;
  background: #eee;

  }
 footer {
  margin:5px;
  height: auto;
  background-color: #aaf;
  color:#ffa;
  padding-top:5px ;
  padding-bottom:5px;
  padding-left:50px;
  font-size:1em;
   z-index:1;
   background-color:#faf;
}
.CSSTableGenerator {
margin:0px;padding:0px;
width:100%;	
border-radius:4px;
}
td {
	vertical-align:bottom
	 }

.CSSTableGenerator tr:hover td{
background-color:#aad4dd;
}
.CSSTableGenerator td{
vertical-align:top;
font-weight:normal;
background-color:#aad4ff;
border-radius:4px;
  }
.CSSTableGenerator th{
vertical-align:top;
background-color:#aad4aa;
font-weight:normal;
border-radius:4px;
}

.GT {
margin:0px;padding:0px;
width:100%;	
border-radius:4px;
}
.GT td{
vertical-align:top;
font-weight:normal;
border-radius:4px;
  }
.GT th{
vertical-align:top;
font-weight:normal;
border-radius:4px;
}

input.text 
{
    color: #455;
    background-color: #eff;
}


select {
	margin:5px;
	margin-left:50px;
	height:1.6em;
	color:#666;
	}
	
input.selezioni 
{
    color: #abb;
    background-color: #abb;

}
input.selezioni:hover  
{
    color: #cdd;
    background-color: #cdd;

}

input:hover
{
    color: #666;
    background-color: #dee;
}

input
{
    color: #666;
    background-color: #cdd;
}


input
{

    height: 1.6em;
    width : auto%;
    font-weight: none;
    border:1px solid #999;
    border-radius:5px;
    box-shadow:1px 1px 3px;
}


.magazzino {
	background-color:#aad4dd;
	}
#ricarica {
	background-color:#fda;
	}
.utente {
	background-color:#adf;
	}
.transaction {
	background-color:#f77;
	}
td.transaction {
	padding:4px;
	padding-left:10px;
	}
.cassa {
	background-color:#faa;
	font-weight:bold;
	font-size:1.1em;
	}
#acquistoselezionato { 
	width :  100%;
	padding:10px;
	font-weight:bold;
	border-radius:5px;
	font-size:1.5em;
	}
	

#moltiplicatore input{
	background-color:#ad9;
	}
	
